name: SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for SonarQube analysis

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: maven

      - name: Cache SonarQube packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            mvn -B verify -X org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
              -Dsonar.log.level=DEBUG \
              -Dsonar.projectKey=backend-portfolio \
              -Dsonar.branch.name=${{ github.ref_name }}
          elif [ "${{ github.event_name }}" = "pull_request" ]; then
            mvn -B verify -X org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
              -Dsonar.log.level=DEBUG \
              -Dsonar.projectKey=backend-portfolio \
              -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
              -Dsonar.pullrequest.branch=${{ github.head_ref }} \
              -Dsonar.pullrequest.base=${{ github.base_ref }}
          fi
